/*TODO: using px instead of cm is probably a better idea, because css pixels are relative to the 
type and size of the screen, see: https://www.w3.org/Style/Examples/007/units.en.html*/

#mainTerminal {
    float: left;
    background-color: "green";
    max-width: 35%;
}

#mainTerminal button {
    display: block;
}

#scoreChart {
    float: right;
    margin-right: 20%;
}

#setUpDropbox {
    margin-right: 0.5cm;
    font-size: 14px;
}

#saveAs {
    margin-right: 9px;
    font-size: 14px;
}

#errorConsole {
    color: red;
}

#dropboxLine {
    font-size: 17px;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    display: flex;
    color: green;
}

.CustomStorageControls {
    display: flex;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

#categoryDisplayLine {
    margin-left: 40px;
}

#logOut {
    margin-left: 10px;
    margin-right: 10px;
}

#customServerMsg {
    margin-top: 0;
    margin-bottom: 0 ;
    margin-left: 1ex;
    color: green;
}

#loadItems {
    display: flex;
    flex-direction: column;
}

#loadItems > input {
    width: 60px;
}

#loadItems > * {
    margin-bottom: 10px;
}

#savedAsRecordsSelect {
    margin-top: 10px;
    margin-bottom: 10px;
}