#mainTerminal {
    float: left;
    background-color: "green";
    max-width: 40%;
}

#mainTerminal button {
    display: block;
}

#scoreChart {
    float: right;
    margin-right: 20%;
}

#setUpDropbox {
    margin-top: 0.5cm;
}

#errorConsole {
    color: red;
}